<nav th:fragment="header" class="navbar navbar-expand-md fixed-top" id="customHeader">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Dropout</a>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarHeader" >
            <ul class="navbar-nav mr-auto mb-2 mb-md-0">

                <li class="nav-item active">
                    <a class="nav-link" href="/about">About</a>
                </li>

                <li th:if="!${isAuthorized}">
                    <div class="btn-group">
                        <a class="nav-link fw-bold dropdown-item rounded-circle" th:method="GET" href="/authorize"
                           >Sign in</a>
                    </div>
                </li>

                <li th:if="${isAuthorized}">
                    <div class="btn-group" >
                        <img class="img-responsive rounded-circle dropdown-toggle" type="button"
                             data-bs-toggle="dropdown" aria-expanded="false" width="50px" height="50px"
                             th:src="${profileImage}">
                        <ul class="dropdown-menu dropdown-menu-sm-start dropdown-menu-md-end dropdown-menu-lg-end" role="menu"
                            aria-labelledby="menu1">
                            <li role="presentation"><a class="dropdown-item d-flex gap-2 align-items-center rounded-2"
                                                       th:method="GET" href="/profile">Profile</a></li>
                            <li role="presentation"><a class="dropdown-item d-flex gap-2 align-items-center rounded-2"
                                                       th:method="GET" href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </li>


            </ul>
        </div>
    </div>
    <!--Css links-->
    <link rel="stylesheet" href="/styles/header.css">
</nav>

