<!doctype html>
<html lang="en">
<head>
    <title>React App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer="defer" src="/js/build/static/js/main.fa583080.js"></script>
    <link href="/js/build/static/css/main.a102879e.css" rel="stylesheet">
    <!--CSS AND SCRIPTS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/styles/album_search.css">
    <link rel="stylesheet" href="/styles/header.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap'); </style>
</head>

<body>
<header th:insert="elements/header :: header"></header>
<main>
    <br>
    <br>
    <br>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column p-3 mb-2 text-dark">
        <main>
            <div id="root">
            </div>
        </main>
    </div>
</main>
</body>
</html>