<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Features</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/features.css">
    <link rel="stylesheet" href="/styles/header.css">
    <!--CSS AND SCRIPTS-->
    <script rel="script" src="/js/features.js"></script>
    <script rel="script" src="/js/profile.js"></script>
    <link rel="stylesheet" href="/styles/features.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap'); </style>
</head>

<body>
<header th:insert="elements/header :: header"></header>

<main>
    <br>
    <div class="container marketing">

        <div class="d-flex flex-row justify-content-center">
            <form action="/features">
                <select th:name="feature" class="form-select" aria-label="">
                    <option selected value="acousticness">Acousticness</option>
                    <option value="danceability">Danceability</option>
                    <option value="energy">Energy</option>
                    <option value="instrumentalness">Instrumentalness</option>
                    <option value="liveness">Liveness</option>
                    <option value="loudness">Loudness</option>
                    <option value="speechiness">Speechiness</option>
                    <option value="tempo">Tempo</option>
                    <option value="valence">Valence</option>
                </select>

                <select th:name="time_range" class="form-select" aria-label="">
                    <option selected value="short_term">Four weeks</option>
                    <option value="medium_term">Six month</option>
                    <option value="long_term">One year</option>
                </select>

                <br>
                <p><button class="btn btn-secondary justify-content-center" type="submit">Discover »</button></p>

            </form>
        </div>
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-Заголовок">Meet the .... track.<span class="text-muted">You don`t really part
                            with it</span></h2>
                <p th:text="${happiestTrack.get('name').asText()}"></p>
            </div>
            <div class="col-md-5">
                <img class="card-img-top" width="100%" height="100%"
                     th:src="${happiestTrack.get('album').get('images').get(0).get('url').asText()}">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-Заголовок">And the ....<span class="text-muted">The opposite side of
                            feature</span></h2>
                <p th:text="${saddestTrack.get('name').asText()}"></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="card-img-top" width="100%" height="100%"
                     th:src="${saddestTrack.get('album').get('images').get(0).get('url').asText()}">
            </div>
        </div>
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
</main>
</body>

</html>