<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="GET" action="/callback">
    <button type="submit">Get Rest request</button>
</form>

<p th:text="'Code: ' + ${code}"></p>
<p th:text="'Token: ' + ${token}"></p>

<form th:method="POST" action="/callback">
    <button type="submit">Post Rest request</button>
</form>

<form th:method="POST" action="/playlist">
    <button type="submit">Create playlist</button>
</form>

<form th:method="POST" action="/song">
    <button type="submit">Post songs in playlist</button>
</form>

</body>
</html>
