<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <title>My Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>


<main>
    <div class="col-sm-4">
        <div class="card text-dark bg-gradient mb-3">
            <img class="card-img-top" width="75%" height="75%" th:src="${images}">
            <div class="card-body border-success">
                <h5 class="card-title">Profile</h5>
                <p class="card-text">Information</p>
            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-dark bg-gradient">
                        <p th:text=" 'Name: ' + ${display_name}"></p>
                    </li>
                    <li class="list-group-item text-dark bg-gradient">
                        <p th:text="'Followers: ' + ${followers}"></p>
                    </li>
                    <li class="list-group-item text-dark bg-gradient">
                        <p th:text="'Country: ' + ${country}"></p>
                    </li>
                </ul>
                    <div class="card-body">
                        <a th:href="${external_urls}" class="card-link">Spotify</a>
                    </div>
        </div>

        <div th:each="image : ${artistImages}" class="card text-dark bg-gradient mb-3">
            <img  class="card-img-top" width="75%" height="75%" th:src="${image}" alt="Haha">
            <ul class="list-group list-group-flush">
                <li th:each="artistName : ${artistsNames}"  class="list-group-item text-dark bg-gradient">
                    <p th:text=" 'Name: ' + ${artistName}"></p>
                </li>
            </ul>
        </div>

    </div>
</main>

<link rel="stylesheet" href="/styles/profile.css">
</body>
</html>