#navbarCollapse{
    align-items: flex-end;
}

#customHeader{
    background-color: #D7F213;
    font-family: 'Barlow', sans-serif;
}

nav{
    min-height: 80px;
    font-size: 1.7rem;
    color: #D63FFF;
}


.navbar-brand {
    font-size: 1.9rem;
    color: #D63FFF;
}

.nav-link{
    color: #D63FFF;
}

.dropdown-menu{
    background-color: #D7F213;
    border-radius: 20px ;
    border: 2px solid #D63FFF;
}

.dropdown-item{
    color: #D63FFF;
}


