#loginButton{
    background-color: #D63FFF;
    color: white;
}

#featureButton{
    background-color: #D63FFF;
    color: white;
}

#categoryButton{
    background-color: #D63FFF;
    color: white;
}

a{
    font-family: 'Barlow', sans-serif;
}

p{
    font-family: 'Barlow', sans-serif;
}


body{
    background-color: ghostwhite;

}

br{
    line-height: 90px;
}

.btn{
    background-color: #D63FFF;
    color: white
}





